// compress: true

@import "var";

/* GENERAL SETTINGS */

body {
    margin: 0;
    line-height: 1.6;
    background: @bordo;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: @white;
}

#root {
    width: 100%;
    height: 100%;
}

.error {
    color: @white;
}

.line {
    margin: 30px;
    border-bottom: 3px solid @lavanda;
    width: 200px;

    @media @tablet {
        width: 130px;
        margin: 15px;
    }

    @media @mobile {
        width: 70px;
        margin: 10px;
    }
}

.orange {
    color: @orange;
    margin-bottom: 50px;

    @media @tablet {
        margin-bottom: 20px;
    }

    @media @mobile {
        margin-bottom: 10px;
    }
}

/* BLOCKS */

@import "blocks/loader";

@import "blocks/wrapper";

@import "blocks/btn";

@import "blocks/shopping-cart";


@import "blocks/header";

@import "blocks/main-single";

@import "blocks/list-data";

@import "blocks/footer";

@import "blocks/burger.less";