// main: style.less

@black: #000;
@graphite: #333;
@gray: #808080;
@dark-bordo: #1d000d;
@bordo: #230312;
@white: #fff;
@lavanda: #d0c3c1;
@light-blue: #BFE2FF;
@green: #308630;
@orange: #FF3D00;
@red: #FF0000;
@aqua: #00FFFF;

@mobile: ~"(max-width: 767px)";
@tablet: ~"(max-width: 1025px)";