// main: ../style.less

@import "../var";

.btn {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: @white;
    font-weight: 700;
    text-transform: uppercase;
    background: @green;
    cursor: pointer;
    border: 2px solid @light-blue;
    outline: 1px solid;
    outline-color: @white;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover,
    &:active,
    &:focus {
        box-shadow: inset 0 0 20px @white;
        outline-color: @white;
        outline-offset: 15px;
        color: @white;
    }

    &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }

    @media @tablet {
        margin: 5px;
        padding: 8px 10px;
        font-size: 12px;
    }

    @media @mobile {
        margin: 3px;
        padding: 0px 7px;
        font-size: 7px;
        border: 1px solid @light-blue;
        
        &:hover,
        &:active,
        &:focus { 
            outline-offset: 9px;
            box-shadow: inset 0 0 10px @white;
        }
    }
}

.btn_close_modal {
    font-size: 45px;
    font-weight: 700;
    color: @graphite;
    transform: rotate(45deg);
    border: 0;
    background: hsl(216, 100, 50);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 150ms;

    &:hover,
    &:focus {
    transform: rotateZ(135deg);
    background: hsl(216, 100, 40);
    }

    @media @tablet {
        width: 70px;
        height: 70px;
        font-size: 35px;
    }

    @media @mobile {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
}

.btn_remove {
    background-color: @red;
    color: @white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    @media @tablet {
        padding: 8px 14px;
    }

    @media @tablet {
        font-size: 10px;
        padding: 4px 6px;
    }
}

.btn_search {
    border: none;
    color: @black;
    padding: 5px 10px;
    background-color: @white;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        box-shadow: inset 0 0 20px @dark-bordo;
        outline-offset: 15px;
        color: @black;
    }
    
    &:disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }

    @media @tablet {
        width: 50px;
        padding: 3px 5px;
        font-size: 12px;
    }
}

.burger-btn,
.burger-btn::before,
.burger-btn::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 2px;
}

.burger-btn::before {
    content: '';
    margin-top: -8px;
}
  
.burger-btn::after {
    content: '';
    margin-top: 8px;
}

.btn_close_burger {
    font-size: 35px;
    font-weight: 400;
    color: @white;
    transform: rotate(45deg);
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 70px;
    cursor: pointer; 
}