// main: ../style.less

@import "../var";

.burger {
    width: 50px;
    height: 50px;
    display: none;
    padding: 0;
    border: 0;
    background: none;

    @media @mobile {
        display: block;
    }
}

.burger_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: @black;
    margin-top: 70px;
    padding: 30px 0px;
    text-align: center;

    a {
        font-size: 18px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;

        input {
            width: 250px;
            margin-bottom: 10px;
        }

        button {
            width: 250px;
        }
    }
}

.hidden {
    display: none;
}

.visible {
    display: block;
}