// main: ../style.less

@import "../var";

.main_footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: @dark-bordo;
}

.footer_container {
    width: 1400px;
}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;

    @media @tablet {
        margin: 20px 0px;
    }

    @media @mobile {
        margin: 10px 0px;
    }
    
    h2, h3, a, span {
        color: @white;
    }

    h3 {
        margin-top: 10px;
        @media @tablet {
            text-align: center;
            max-width: 690px;
            font-size: 15px;
        }

        @media @mobile {
            text-align: center;
            max-width: 300px;
            font-size: 10px;
        }
    }

    h2 {
        @media @tablet {
            font-size: 15px;
        }

        @media @mobile {
            font-size: 12px;
        }
    }

    a {
        letter-spacing: 3px;
        text-decoration: none;
    }

    a:hover {
        color: @aqua;
    }

    a:focus {
        color: @orange;
    }

    span {
        @media @mobile {
            font-size: 12px;
        }
    }
}

