// main: ../style.less

@import "../var";

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: @dark-bordo;
}

.header {
    width: 1400px;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 40px;

    @media @tablet {
        margin: 20px 10px;
    }

    @media @mobile {
        margin: 10px 5px;
    }

    a {
        color: @white;
        text-decoration: none;
        margin: 0 30px;
        transition: color .1s linear;
        font-weight: 700;
        font-size: 20px;

        &:hover,
        &:active,
        &:focus {
            color: @orange;
        }
        @media @tablet {
            margin: 0px 20px;
            font-size: 15px;
        }  
        
        @media @mobile {
            margin: 0px 10px;
            font-size: 10px;
        }
    }

}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;

    @media @mobile {
        display: none;
    }
}

.cart_count {
    font-size: 12px;
    background: @green;
    color: @white;
    padding: 0px 5px;
    vertical-align: top;
    border-radius: 5px;

    @media @tablet {
        font-size: 10px;
        padding: 0px 4px;
    }
}

.search {
    border: none;
    padding: 5px 10px;

        @media @tablet {
            width: 90px;
            padding: 3px 5px;
        }
}


