// main: ../style.less

@import "../var";

.render_list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;

    @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
    }
}

.list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    max-width: 280px;
    border: 3px solid @white;
    border-radius: 20px;
    margin: 20px 20px;
    padding: 20px 0px;

    @media @tablet {
        max-width: 180px;
    }

    @media @mobile {
        max-width: 220px;
        margin: 10px;
        padding: 10px 0px;
    }

    a {
        text-decoration: none;
    }

    h4 {
        padding: 0px 10px;

        @media @mobile {
            font-size: 15px;
        }
    }

    img {
        width: 250px;

        @media @tablet {
            max-width: 150px;
        }

        @media @mobile {
            max-width: 170px;
        }
    }
}