// main: ../style.less

@import "../var";

.container_loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    font-size: 50px;
    color: @white;
    font-weight: 700;
  }
  .loader:after {
    content: '';
    height: 10px;
    width:0%;
    display: block;
    background: @orange;
    animation: 5s lineGrow linear infinite;
  }
  
  @keyframes lineGrow {to{width: 100%;}}