// main: ../style.less

@import "../var";

.content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.list_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    @media @tablet {
        margin-bottom: 20px;
    }

    @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
    }
}

.list_inner-left {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-right: 100px;

    @media @tablet {
        margin-right: 150px;
    }

    @media @mobile {
        margin-right: 0px;
    }
}

.list_inner-right {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    p {
        max-width: 600px;
        text-align: center;
        margin: 10px 0px;
        color: @white;

        @media @tablet {
            max-width: 300px;
        }

        @media @mobile {
            margin: 5px 0px;
            max-width: 250px;
        }
    }
}

.list_ingredients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;

    @media @mobile {
        max-width: 200px;
    }

    @media @tablet {
        max-width: 150px;
    }

    @media @mobile {
        max-width: 250px;
        margin-top: 5px;
    }

    span {
        margin-top: 10px;
        color: @white;
        padding-right: 8px;
    }
}

.img_cocktails {
    width: 400px;
    box-shadow: 0px 0px 20px @black;
    border-radius: 5%;
    transition: opacity .1s linear;
    cursor: pointer;
    margin: 10px 0px;

    @media @tablet {
        width: 200px;
    }

    @media @mobile {
        width: 150px;
        margin-bottom: 10px;
    }
}
