// main: ../style.less

@import "../var";

.modal_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    overflow-y: auto;
}

.modal_inner {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 5%;
    bottom: 5%;
    background: @white;
    border-radius: 5px;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    border-bottom: 2px solid @gray;

    h3 {
        color: @graphite;
    }

    @media @mobile {
        h3 {
            font-size: 12px;
        }
    }
}

.modal_main {
    flex: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;

    h1 {
        text-align: center;
        color: @graphite;

        @media @tablet {
            font-size: 20px;
        }

        @media @mobile {
            font-size: 15px;
        }
    }
    
    h3 {
        text-align: center;
        color: @graphite;

        @media @tablet {
            font-size: 15px;
        }

        @media @mobile {
            font-size: 12px;
            margin-bottom: 10px;
        }
    }

    h4 {
        text-align: center;
        color: @graphite;
        margin-top: 150px;
    }
}

.modal_order {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 50px;

    @media @mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 150px;
        margin-bottom: 10px;

        @media @tablet {
            width: 120px;
        }

        @media @tablet {
            width: 100px;
        }
    }

}


.modal_footer {
    padding: 10px;
    display: flex;
    border-top: 2px solid @gray;
    justify-content: center;

    a {
        text-decoration: none;
    }
}
