// main: ../style.less

@import "../var";

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_container{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.first_container {
    width: 1400px;
    padding-top: 20px;
    padding-bottom: 30px;
    
    @media @tablet {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    @media @mobile {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.second_container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    @media @tablet {
        font-size: 12px;
    }

    h1 {
        @media @mobile {
            text-align: center;
            max-width: 250px;
            font-size: 15px;
        }
    }

    span {
        color: @white;
    }
}